.navbar {
  font-size: 0.95rem;
}

.navbar-brand {
  font-size: 1.1rem;
  color: #333;
}

.navbar .btn {
  transition: all 0.3s ease;
}

.navbar .btn:hover {
  transform: scale(1.05);
}

.badge {
  font-size: 0.7rem;
  padding: 4px 6px;
}

.btn-sidebar {
  border: 1px solid #333;   /* order: width → style → color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 0.4s ease;
}
