.icon-fix{
    position: relative;
    top: -2px;
}

.sidebar{
    
    width: 250px;
    height: 100vw;
    top: 0;
    left: 0;
    position: fixed;
}

.list-group-item:hover{
    background-color: #1a1a1a !important;
    color: yellow !important;
}